
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 10vh;
    background: linear-gradient(135deg, #8ea85e, #928dab);
    padding: 20px;
}

.container {
    width: 500px;
    padding: 35px;
    border-radius: 22px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.28);

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.7s ease-out;
}

.container h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    font-size: 15px;
    color: #e5e5e5;
    margin-bottom: 25px;
    opacity: 0.8;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;

    padding: 15px;
    border-radius: 14px;
    border: none;
    outline: none;

    background: rgba(255, 255, 255, 0.85);
    font-size: 16px;

    transition: 0.25s ease;
}

textarea:focus {
    background: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
}

.preview-title {
    margin-top: 18px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 18px;
    opacity: 0.9;
}

.output {
    min-height: 70px;
    padding: 20px;
    border-radius: 14px;

    background: rgba(255, 255, 255, 0.92);
    font-size: 17px;
    color: #222;

    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    animation: slideUp 0.4s ease-out;
}


